@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


 /*Start loader */
 #preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 99999999;
	width: 100%;
	height: auto;
  }
  
  #status {
	width: 120px;
	height: 120px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	padding: 25px;
  }
  
  #status img {
	max-width: 100%;
  }
  .tab_img span{
	  display: inline-block;
	  padding: 10px 0;
	  font-weight: 400;
	  font-size: 20px;
	  color: #132725;
  }
  
  #status:before {
	content: "";
	position: absolute;
	pointer-events: none;
	width: 100% !important;
	height: 100% !important;
	left: 0;
	top: 0;
	opacity: 1;
	bottom: 0;
	right: 0;
	margin: auto;
	border-bottom: 2px solid #0D8F77;
	border-radius: 50%;
	-webkit-animation: rotatingPlus 1s linear infinite;
			animation: rotatingPlus 1s linear infinite;
  }
  
  #status:after {
	content: "";
	position: absolute;
	pointer-events: none;
	width: 90%;
	height: 90%;
	left: 0;
	top: 0;
	opacity: 1;
	bottom: 0;
	right: 0;
	margin: auto;
	border-top: 2px solid #075929 ;
	border-radius: 50%;
	-webkit-animation: rotatingMinus 5s linear infinite;
			animation: rotatingMinus 5s linear infinite;
  }
  
  @-webkit-keyframes rotatingPlus {
	from {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  
  @keyframes rotatingPlus {
	from {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
 
 /*End loader */

  

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  background: #041116;
  font-family: "Roboto", sans-serif;
   
}
p{
  font-size:18px;
  line-height:28px;
  color:#E6E8FFCC;
}
 
.container{
  max-width:1320px;
}
 
a,
a:hover {
  text-decoration: none;
}
ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  color:#E6E8FF;
  font-weight: 700;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.navbar-nav.mx-auto{
  margin-left: 0 !important;
}
.primary-btn,.secondary-btn {
	padding: 12px 30px;
	color:#E6E8FF;
	font-size:20px;
	font-weight:600;
  display: flex;
  align-items: center;
  gap: 10px;
	text-transform: capitalize;
  transition: 0.5s;
  border-radius:6px; 
  border: 1px solid transparent !important;
}
 
.primary-btn{
  background: #0D8F77;
}
.primary-btn:hover{
  background-color: transparent;
  border-color:#FFFFFF !important;
}
.secondary-btn{
  border-color:#FFFFFF;
  background-color: transparent;
}
.secondary-btn:hover{
  background: #0D8F77;
}
.primary-btn i,.secondary-btn i{
  font-size: 18px;
  color:#fff;
  font-weight: 700;
}
.primary-btn img,.secondary-btn img{
  width: 20px;
}
.common-heading-section h2 {
	line-height: 75px;
	font-size: 60px;
}
.common-heading-section h3 {
	font-size: 40px;
	line-height: 50px;
}
.common-heading-section p{
  margin-top:20px;
}

 .nav-bar-icon {
	margin-right:25px;
  cursor: pointer;
}
 .nav-bar-icon i{
  font-size: 22px;
  color: #E6E8FF;
 }

.mt-10{
  margin-top: 10px !important;
}
.mt-20{
  margin-top:20px;
}
.mt-70{
  margin-top: 70px;
}
.p-10{
  padding: 10px;
}
.p-15{
  padding: 15px;
}
.ptb-15{
  padding-top:15px;
  padding-bottom: 15px;
}
.ptb-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.rotate-30 {
  transform: rotate(30deg);
}
.btn-group{
  gap:15px;
}
.g-8{
  gap: 8px;
}
.g-30{
  gap: 30px;
}
.g-20{
  gap:20px;
}
.p-20{
  padding: 20px;
}
.mt-30{
  margin-top:20px;
}
.mt-40{
  margin-top: 40px;
}
.mt-100{
  margin-top: 100px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-20{
  margin-bottom: 20px;
}
 .nav-link.active{
  color: #0D8F77;
 }
button,button:active{
  outline: none;
  border: none !important;
 }
 button:focus:not(:focus-visible){
  color:#fff;
  box-shadow: 0 0 0  rgba(13, 109, 253, 0);
 }
 .menu-bg {
	/* background-color: #071827; */
	backdrop-filter: blur(73px);
	border-bottom: 1px solid #242323;
}
.nav-item > a {
	font-weight:500;
	font-size: 18px;
	color: #fff;
  padding:5px 12px;
	transition: 0.5s;
}
.nav-item > a:hover,.nav-item > a:focus,.dropdown-menu ul li a:hover{
  color: #0D8F77;
}
.nav-link.dropdown-toggle.show{
  background: linear-gradient(90deg, #277BF5 0%, #1CD691 100.01%);
  background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.dropdown-menu ul li a{
  padding: 5px 18px;
  display: block;
  color:#00020B;
  font-size: 16px;
  font-weight: 500;
}
.navbar-brand img {
	max-width: 155px;
}
.dropdown-toggle::after {
	display: none;
}
a.nav-link.dropdown-toggle i{
  margin-left: 10px;
  font-size: 16px;
}
 .ellipse{
  position: absolute;
  height: 400px;
  width: 400px;
  z-index: -2;
  opacity: 0.12;
  filter: blur(200px);
 }
.header-area {
	position: sticky;
	left: 0;
	right: 0;
  padding:2px 0;
	top:0px;
	margin-bottom: -101px;
  z-index: 999;
}
.header-right .secondary-btn,.header-right .primary-btn{
  padding: 6px 22px;
}
.header{
  padding:10px 30px;
}
.shape{
  position: absolute;
  z-index: -1;
   
}
.data-counter-card h5 {
	font-family: Roboto;
	font-size: 35px;
	font-weight: 600;
	line-height: 40.56px;
	color: #E6E8FF;
}
.data-counter-card{
  min-width: 227px;
  padding: 16px;
  text-align: center;
}
.shape-1{
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -9;
}
.shape-2{
  top: 5%;
  right: 0;
  z-index: -9;
}
.shape-3{
  bottom:22%;
  left:10%;
}
.shape-4{
  bottom:26%;
  right:14%;
}
.shape-5{
  bottom:18%;
  left:5%;
}
.shape-6{
  bottom:22%;
  right:5%;
}
/* .small-circle img{
  width: 100%;
} */
.small-circle{
  height: 75px;
  width: 75px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:16px;
}
.shape-7{
  top:54%;
  z-index: 99;
  left:25%;
 
}
.shape-8 {
	top: 43%;
	z-index: 99;
	right: 18%;
}
.shape-9 {
	bottom:-3%;
	right: -5%;
}
.shape-10 {
	bottom:-8%;
	left:0%;
}
.shape-11 {
	right: 0%;
	margin: auto;
	top: 50%;
	left: -2%;
	z-index: 9;
	text-align: center;
}
.shape-20 {
	right: 0%;
	margin: auto;
	bottom:-15%;
	left: -2%;
	z-index:55 !important;
	text-align: center;
}
.shape-12 {
	bottom:-5%;
	left:15%;
	text-align: center;
}
.shape-12 img{
  width: 100%;
}
.shape-13 {
	bottom:-5%;
	left:5%;
	text-align: center;
  opacity: 0.1;
}
/* .asked-question-section{
  z-index: 60;
} */
.shape-14 {
	top:5%;
	left:5%;
	text-align: center;
  opacity: 0.1;
  z-index: 9 !important;
}
.shape-15 {
	top:-5%;
  right: 0%;
  margin: 0 auto;
	left:0%;
	text-align: center;
  opacity: 0.1;
   
}
.shape-16 {
	top:10%;
  right:10%;
  margin: 0 auto;
	text-align: center;
  opacity: 0.1; 
}
.shape-17 {
	top:40%;
  left:0%;
}
.shape-18 {
	top:2%;
  right:0%;
}
.shape-19 {
	top:-15%;
  right:0%;
}
.shape-21{
	bottom:6%;
  left:8%;
}

body{
  overflow-x: hidden !important;
}
/* .platforms-section{
  overflow-x:hidden;
} */
.rotate-135{
  transform: rotate(-135deg);
}
.rotate-45{
  transform: rotate(-45deg);
}
.rotate-46 i{
  transform: rotate(-46deg);
}

.border-gradient{
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.035) 0%, rgba(255, 255, 255, 0) 100%); */
  background-color: #09161B;
	position: relative;
	border: 1.5px solid transparent;
	background-clip: padding-box;
  border-radius:10px;
  transition: 0.5s;
}
.border-gradient::after {
	content: '';
	position: absolute;
	top: -1.5px;
	bottom: -1.5px;
	left: -1.5px;
	right: -1.5px;
	z-index: -1;
	border-radius:10px;
  background:linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
}
.border-gradient-rounded{
   
  background-color: #041116;
	position: relative;
	border: 1.5px solid transparent;
	background-clip: padding-box;
  border-radius:50%;
  transition: 0.5s;
}
.border-gradient-rounded::after {
	content: '';
	position: absolute;
	top: -1.5px;
	bottom: -1.5px;
	left: -1.5px;
	right: -1.5px;
	z-index:0;
	border-radius:50%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
}
.support-btn {
	gap: 20px;
	position: relative;
	z-index: 9;
}
.support-btn li a{
  min-width:300px;
  padding:9px 20px;
  gap: 18px;
  color:#E6E8FF;
  font-size: 18px;
  font-weight: 500;
}
.border-gradient-rounded i{
  color: #E6E8FF;
  font-size: 20px;
}
.border-gradient-rounded{
  height:46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.platform-thumbnails{
  overflow:hidden;
}
.platform-thumbnails:hover img{
  transform: scale(1.05);
}

.border-gradient-3{
  background-color: #041116;
	position: relative;
	border: 1.5px solid transparent;
	background-clip: padding-box;
  border-radius:10px;
  transition: 0.5s;
}
.border-gradient-3::after {
	content: '';
	position: absolute;
	top: -1.5px;
	bottom: -1.5px;
	left: -1.5px;
	right: -1.5px;
	z-index: -1;
	border-radius:10px;
  background:linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
 

}
.border-gradient-1{
  background-color: #0E2128;
	position: relative;
	border: 1.5px solid transparent;
	background-clip: padding-box;
  border-radius:10px;
  transition: 0.5s;
}
.border-gradient-1::after {
	content: '';
	position: absolute;
	top: -1.5px;
	bottom: -1.5px;
	left: -1.5px;
	right: -1.5px;
	z-index: -1;
	border-radius:10px;
  background:linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
} 
.hero-section{
  padding-top: 160px;
  background-image: url('../images/bg/hero-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 60px;
 
}
.hero-bottom-section{
  margin-top: -180px;
}
.hero-circle-inner{
  width: 471px;
  height: 466px;
  background: #0D8F77;
  opacity: 0.3;
   filter: blur(130px);
   backdrop-filter:70px;
  border-radius: 283px;
  position: relative;
  transform: rotate(-180deg);
  margin: 0 auto;
  z-index: -2;
}
.hero-circle img{
  width:400px;
  height:400px;
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.zoom-animation{
  animation: zoomIn 2s infinite ease-in-out alternate;
}
@keyframes zoomout {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  } 
}
.zoomout-animation{
  position: absolute;
  z-index: -2 !important;
  animation: zoomout 2s infinite ease-in-out alternate;
}
.animation-up{
  position: absolute;
  z-index: -2 !important;
  animation: moveUp 3s linear infinite alternate;
}
@keyframes moveUp {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.moveUp-long{
  animation: moveUp-long 12s linear infinite alternate;
}
@keyframes moveUp-long {
  0% {
    transform: translateY(-350px);
  }
   
  100% {
    transform: translateY(20px);
  }
}
.movedown-long{
  animation: movedown-long 12s linear infinite alternate;
}
@keyframes movedown-long {
  0% {
    transform: translateY(20px);
  }
   
  100% {
    
    transform: translateY(-330px);
  }
}
 
.animation-down{
  position: absolute;
  z-index: -2 !important;
  animation: movedown 3s linear infinite alternate;
}
@keyframes movedown {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateY(40px);
  }
}
.blinds-box {
  animation: blinds 1.5s ease-in-out infinite;
}

@keyframes blinds {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(212, 235, 255, 0.8), 0 0 5px rgba(255, 255, 255, 0.6);
  }
  50% {
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(252, 207, 85, 0.9), 0 0 10px rgba(219, 166, 66, 0.7);
  }
}
.hero-circle-cover{
  z-index: -4;
}
.hero-circle img{
  position: absolute;
  left: 0;
  z-index:9;
  right: 0;
  margin: auto;
  top: 0;
}
.rotate-box{
  animation: rotate360 80s linear infinite;
}
.star-rotate{
  animation: rotate360 20s linear infinite;
}
@keyframes rotate360 {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.platforms-container{
  padding:70px 30px;
}
.line-1{
  height: 1px;
  background-color:#FFFFFF1A
}

.mb-40{
  margin-bottom: 40px;
}
.pt-130{
  padding-top: 130px;
}
.mt-130{
  margin-top: 130px;
}
.mt-100{
  margin-top: 100px;
}
.platform-features{}
.platforms-container{
  background-image: url('../images/bg/bg-1.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
 
.gap-y-12{
  row-gap: 12px;
}
.platform-features ul{
  list-style: decimal;
  padding-left: 24px;
  color:#fff;
}
.platform-features ul li p span{
  color:#fff;
  font-weight: 600;
}
.platform-short-description a{
  margin-bottom: 20px;
  display: inline-block;
}
.platform-features h4,.choose-key-feature h5{
  font-size: 24px;
  line-height: 29.26px;
  margin-bottom: 20px;

}

.center-circle{
  
  background: #0D8F77;
  filter: blur(130px);
  backdrop-filter:130px;
  border-radius: 283px;
  position: absolute;
 
  transform: rotate(-180deg);
  z-index: -2;
}
.center-circle-1{
  width: 471px;
  height: 466px;
  left: 0;
  right: 0;
  opacity: 0.08;
  margin: 0 auto;
  top:10%;
}
.center-circle-2{
  width: 350px;
  filter: blur(35px);
  height: 350px;
  opacity: 0.08;
  border-radius: 50%;
  right: 5%;
  top: 50%;
}
.center-circle-4{
  width: 350px;
  filter: blur(35px);
  height: 350px;
  opacity: 0.05;
  border-radius: 50%;
  right:1%;
  top:10%;
}
.center-circle-3{
  width: 350px;
  filter: blur(50px);
  height: 350px;
  opacity: 0.08;
  border-radius: 50%;
  right:0%;
  left: 0;
  margin: auto;
  bottom: 5%;
}
.center-circle-13 {
  filter: blur(90px);
	left:2% !important;
	top: -56% !important;
	z-index: 2;
  right: inherit !important;
}
.center-circle-14 {
  filter: blur(120px);
	right:2% !important;
	bottom: -0% !important;
	left: inherit !important;
  opacity: 0.099;
  
}
.we-offer-section{
  /* background-image: url('../images/bg/bg-2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center; */
  padding: 70px 0;
}
.offer-card{
  gap:15px;
}
.offer-card-item{
  gap: 20px;
  cursor: pointer;
  padding: 20px;
}
.offer-card-icon img{
  transition: 0.5s;
  width: 72px;
  height: 72px;
}
.step-card img{
  transition: 0.5s;
}
.offer-card-item:hover .offer-card-icon img,.step-card:hover img{
  transform: scale(1.05);
}
.offer-card-content h4{
  font-size:20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 12px;
}
.offer-card-content p{
  font-size: 16px;
  line-height: 24px;
}/* Rectangle 29 */
 
.border-gradient-offer-card{
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.035) 0%, rgba(255, 255, 255, 0) 100%); */
  background: linear-gradient(180deg, rgb(3, 17, 26) 0%, rgb(2, 6, 7) 100%);
  backdrop-filter: blur(15px);
	position: relative;
	border: 1.5px solid transparent;
	background-clip: padding-box;
  border-radius:10px;
  transition: 0.5s;
}
.border-gradient-offer-card::after {
	content: '';
	position: absolute;
	top: -1.5px;
	bottom: -1.5px;
	left: -1.5px;
	right: -1.5px;
	z-index: -1;
	border-radius:10px;
  background:linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
}/* Rectangle 29 */
 
.achievements-section{
  padding: 30px;
  gap: 34px;
}
.achievement-item{
  width: 25%;
  box-sizing: border-box;
  border-right: 1.5px solid #FFFFFF1A;
  padding-right: 34px;
}
.achievement-item:last-child{
  border: none;
  padding: 0;
}
.achievement-item h4{
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 53.64px;
}
.achievement-item h5{
  font-family: Roboto;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 27px;
  color: #E6E8FF;

}
.achievement-item p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

}
.achievements-section-area{
  margin-top: 60px;
}
.features-item p{
  font-weight: 600;
  color: #E6E8FF;
  line-height: 27px;
}
.features-item{
  padding: 10px 20px;
}
.key-features-items{
  gap: 12px;
}
.step-number span{
  color: #E6E8FF36;
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 700;
}
.step-number{
  position: absolute;
  right:20px;
  top: 20px;
}
.step-card img{
  width:65px;
  height:65px;
}
.step-card-cover:hover .border-gradient{
  background: #0D8F77;
  position: relative;
  cursor: pointer;
}
.step-card h5{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  margin-top: 24px;
}
.step-card p{
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}
.step-card{
  padding: 20px;
  height: 100%;
}
.step-card-cover{
  height: 100%;
}
.joining-step-section:after{
  content: "";
  position: absolute;
  background-image: url('../images/shape/8.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  left: 0;
  right: 0;
  top:50px;
  height: 300px;
  filter: blur(2px);
  width: 300px;
  margin: auto;
}
.accordion-button::after {
  content: '';
  display: inline-block;
  width:30px;
  height:30px;
  background: linear-gradient(90deg, #ffffff 0%, #e9e9e9 100.01%);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffffff' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  mask-size: cover;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffffff' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E"); /* For WebKit browsers */
  transition: all 0.5s;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%23FFFFFF' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}
.accordion-button::after {
  transition: all 0.5s;
}
.accordion-body{
  padding-top: 0;
}
.accordion{
  gap: 20px;
}
.accordion-body p{
  font-size: 16px;
  line-height: 24px;
}
.accordion-button:not(.collapsed){
  background-color: transparent;
  font-size: 24px;
  font-weight: 600;
  color: #E6E8FF;
  box-shadow: 0 0 0 0 transparent;
}
.accordion-button{
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height:32px;
  color: #E6E8FF;
  background-color: transparent;
  padding: 16px 20px;

}
.support-section{
  background-image: url('../images/bg/bg-3.png');
  background-size:cover;
  background-repeat: no-repeat;
  padding: 70px 0;
 
}
.support-form{
  position: relative;
  z-index: 9;
}
.support-form h4{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;

}
.input input,.input textarea,.newsletter-form input{
  background-color: transparent;
  border: none;
  padding: 12px 20px;
  outline: none;
  width: 100%;
  font-size: 18px;
  color: #fff !important;
}
.input input::placeholder,.newsletter-form input::placeholder{
  color:#E6E8FF66;
}
.input input:focus{
  outline: none;
  background-color: transparent;
  border: none;
  box-shadow: 0 0 0 0 transparent;
}
.input textarea{
  min-height: 199px;
}
.support-form{
  padding: 30px;
  background-image: url('../images/bg/form-bg.png');
  background-size: 100% 100%;
  background-position: center center;
}.shape-22{
	bottom:6%;
  right:0%;
  z-index:9 !important;
}
.shape-25{
  left: 10%;
  bottom: 2%;z-index: 2;
}
.newsletter-form h5,.footer-pagination h4{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
}
.footer-pagination ul{
  gap: 15px;
}
.joining-step-section{
  position: relative;
  z-index: 99;
}
.footer-pagination ul li a{
  font-size: 16px;
  line-height: 24px;
  color: #E6E8FFCC;
  transition: 0.5s;
}
.footer-description-box{
  width:40%;
}
.footer{
  gap:100px;
}
.footer-pagination ul li a:hover{
  color: #0D8F77;
}
.g-10{
  gap: 10px;
}
.border-gradient-rounded:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 30px, rgba(0, 0, 0, 0.12) 0px -5px 20px, rgba(6, 63, 36, 0.24) 0px 4px 6px, rgba(106, 182, 138, 0.5) 0px 12px 13px, rgba(6, 75, 66, 0.2) 0px -3px 5px;
}
.send-btn i{
  color:#fff;
  font-size: 20px;
}
.send-btn {
	background: #0D8F77;
	border-radius: 5px;
  transition: 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 42px;
  margin-right: 4px;
	min-height:42px;
}
.send-btn:hover{
  background-color: #07583b;
}
.footer-logo{
  padding-top: 70px;
}
.platform-thumbnails img,.faq-thumbnails img{
  cursor: pointer;
  transition: 0.5s;
  animation: zooming 2s infinite ease-in-out alternate;}
.newsletter-form{
  max-width: 410px;
}@keyframes zooming {
 
  0%{
    filter: contrast(1);
  }
  100%{
    filter: contrast(0.85);
  }
}
.footer-pagination-box {
	width: 60%;
	justify-content: space-around;
}
.navbar-nav .nav-link{
  cursor: pointer;
}
.navbar-nav .nav-link.active{
  color: #0D8F77;
}
.secondary-btn.nav-link.active:hover,.primary-btn.nav-link:hover,.primary-btn.nav-link.active{
color:#fff;
}
